div {
    background-image: url("images/menu.jpg");
    background-size: cover;
    width: 97vw;
    height: 97vh;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    margin: auto auto;
    display: flex;
}

button:hover{
    background-color: rgb(135, 106, 34);
    box-shadow: 5px 5px 5px rgb(176, 155, 103),
                -5px -5px 5px rgb(176, 155, 103);
    transform: scale(1.01);

    transition: all 0.4s;
}

button {
    color: black;
    border-width: 0;
    border-radius: 5px;
    width: 200px;
    height: 70px;
    margin: auto auto;
    background-color: rgb(104, 82, 28);
    background-image: url("images/button.jpg");
    background-size: contain;
    transition: all 0.4s;
}

body {
    width: 99vw;
    height: 99vh;
    background-color: rgb(51, 39, 8);
    display: flex;
    
}

@font-face{
	font-family:"Futura-Bold";
	src: url("fonts/futura_bold.ttf");
	font-style: normal;
	font-weight: normal;
}

p {
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
    font-size: calc(3vw + 3vh);
    font-family: "Futura-Bold";
}