* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
}

body {
    background: #081b29;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: #f2a74b;
}

.marker {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.control {
    width: 100vw;
}

.btns {
    margin: 10%;
}

.control p {
    margin-top: 40vh;
}

.container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.text-show {
    width: 70%;
}

.text-array {
    text-align: end;
}

.text-container {
    padding: 20px 30px;
    font-size: large;
    text-align: center;
    overflow: scroll;
    max-height: 35vh;
    border-radius: 8px;
}

.delete-button {
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    background: #ce131393;
    color: white;
    padding: 3px;
    margin: auto;
    margin-left: 10px;
    min-width: 10px;
    transition: 0.2s;
}

.delete-button:hover {
    background: #ce1313;
}

.outer-box {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background: rgba(215, 157, 11, 0.167);
    width: fit-content;
    padding: 4px;
    margin: 3px;
}

.btns button {
    background: transparent;
    border-radius: 8px;
    border: 2px solid #f2a74b;
    color: #f2a74b;
    transition: .5s;
    padding: 8px;
    font-size: large;
    width: 130px;

}

.btns button:hover {
    background: #f2a74b;
    color: #081b29;
}

::selection {
    background: #f2a74b;
    color: #081b29;
}

.text-show {
    padding: 10px;
}

input {
    background: transparent;
    border-radius: 8px;
    border: 2px solid #f2a74b;
    color: #f2a74b;
    transition: .5s;
    padding: 8px;
    font-size: large;
    width: 130px;
    margin-top: 2px;
}

input:hover {
    background: #f2a74b;
    color: #081b29;
}