* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
}

body {
    background: #081b29;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{

    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: #f25c4b;
}

.now {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.content {
    margin: auto;
}

p.current {
    color: #dfc3a9;
    margin-top: 15vh;
    margin-bottom: 15vh;
    text-align: left;
}

p.role {
    color: #f2a74b;
    margin-top: 5px;
}

p.next {
    color: #c44133;
    margin-top: 5px;
}