* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
}

body {
    background: #081b29;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{

    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: #f2a74b;
}

.run {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.run input {
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 50px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #f2a74b;
    color: #f2a74b;
    transition: .5s;
    margin-top: 3vh;
}

.run input:hover {
    background: #f2a74b;
    color: #081b29;
}

.run input:active {
    color: transparent;
    border-radius: 50px;
}

.content {
    margin: auto;
}