<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home_page_style.css">
    <title>Scenario</title>
</head>
<body>

    <header class="header">
        <a href="/home" class="logo">Scenario.</a>

        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="https://github.com/mous-q/Scenario">gitHub</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <section class="home">
        <div class="content">
            <h1>Scenario</h1>
            <h3>Created for creators</h3>
            <div class="sub">
                <form action='/menu'>
                    <input type=submit value="Start">
                </form>
            </div>
        </div>
    </section>

    
    
</body>
</html>