<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/menu_style.css">
    <title>Scenario</title>
</head>
<body>
    <header class="header">
        <a href="/home" class="logo">Scenario.</a>

        <nav class="navbar">
            <a href="#" class="active">Menu</a>
            <a href="https://github.com/mous-q/Scenario">gitHub</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    
    <section class="menu">
        <div>
            <!-- <form action="">
                <h3>My Scenaries</h3>
                <input type="submit" value="">
            </form> -->
            <form action='/home/create_scenary'>
                <h3>Load Scenary</h3>
                <input type=submit value="Upload Script"></td><tr>
            </form>
            <form action='/home/menu/rehearsal'>
                <h3>Start Rehearsal</h3>
                <input type=submit value="Start RH">
            </form>
        </div>
    </section>

</body>
</html>