<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/RH_style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="/home" class="logo">Scenario.</a>

        <nav class="navbar">
            <a href="#" class="active">Running</a>
            <a href="https://github.com/mous-q/Scenario">gitHub</a>
            <a href="">Contact</a>
        </nav>
    </header>

    <section class="run">
        <div class="content">
            <h3>Now start the Rehearsal</h3>
            <div class="sub">
                <form method="post">
                    <input type=submit value="Start">
                </form>
            </div>
        </div>
    </section>

</body>
</html>