<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/upload_style.css">
</head>
<body>

    <header class="header">
        <a href="/home" class="logo">Scenario.</a>

        <nav class="navbar">
            <a href="#" class="active">Script</a>
            <a href="https://github.com/mous-q/Scenario">gitHub</a>
            <a href="">Contact</a>
        </nav>
    </header>

    <section class="home">
        <div class="content">
            <form method=post enctype=multipart/form-data>
                <input type=file name=file id="btn">
                <label for="btn">Browse Script</label>
                <input type=submit value=Upload>
              </form>
        </div>
    </section>
    
</body>
</html>